{% extends 'account/Mngr_Base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h1>Welcome to the Manager Dashboard</h1>

{{user.userprofile.company}}
<h2>Staffs</h2>
<ul>
    {% for staff in staffs %}
        <li>{{ staff.username }}: Email - {{ staff.email }}</li>
    {% empty %}
        <li>No users found.</li>
    {% endfor %}
</ul>

<h2>Account Managers</h2>
<ul>
    {% for manager in account_managers %}
        <li>{{ manager.username }}: Email - {{ manager.email }}</li>
    {% empty %}
        <li>No account managers found.</li>
    {% endfor %}
</ul>
{% endblock %}
