{% extends 'account/Mngr_Base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">User Requests</h1>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Status</th>
                <th>Company</th>
                {% comment %} <th>Date Submitted</th> {% endcomment %}
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for request in user_requests %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ request.first_name }}</td>
                <td>{{ request.email }}</td>
                <td>{{ request.approved }}</td>
                <td>{{ request.company }}</td>
                {% comment %} <td>{{ request.date_joined}}</td> {% endcomment %}
                <td>
                    <a href="{% url 'signup' request.id %}" class="btn btn-success btn-sm">Create Account</a>
                    
                    <!-- Add Delete Button Form -->
                    <form method="POST" action="{% url 'delete_user_request' request.id %}" style="display:inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this request?');">Delete</button>
                    </form>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No customer requests found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="text-right mt-3">
        <a href="{% url 'Msignup' %}" class="btn btn-primary">Create Manually</a>
    </div>
</div>
{% endblock %}
