{% extends 'account/Admin_Page_base.html' %}

{% block title %}About Page{% endblock %}

{% block content %}
<body>
    <h1>{{ company.name }}</h1>
    <p>Service: {{ company.service }}</p>

    <h2>Users in {{ company.name }}</h2>
    {% if users %}
        <ul>
            {% for user_profile in users %}
                <li>{{ user_profile.staff.username }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No users associated with this company yet.</p>
        {% endif %}
        <h2>Add Account Manager</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Add Account Manager</button>
        </form>
    

    <a href="{% url 'company_list' %}">Back to Company List</a>
</body>
{% endblock%}