{% extends 'account/Admin_Page_base.html' %}

{% block title %}List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">List of Companies</h1>
    <div class="list-group">
        {% for company in companies %}
            <a href="{% url 'company_detail' company.pk %}" class="list-group-item list-group-item-action">
                <h5 class="mb-1">{{ company.name }}</h5>
                <p class="mb-1">{{ company.service }}</p>
            </a>
        {% empty %}
            <div class="alert alert-warning" role="alert">
                No companies found.
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
