{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'crm_home/styles.css' %}">
</head>
<body>
    <header id="home">
        <div class="navbar" id="navbar">
        <div class="navbar-tabs" id="navbar-tabs">
          <ul class="navbar-tabs-ul">
                  <li class="left"><a href="/contact/" class="btn">Contact Admin</a></li>
                  <li class="right"><a href="/login/" class="btn">Login</a></li>
          </ul>
        </div>
      </div>
    </header>

    <main>
        <h1>User Responsibilities</h1>
        <table>
            <thead>
                <tr>
                    <th>Responsibilities</th>
                    <th>Account Manager</th>
                    <th>User</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Create User Roles</td>
                    <td>&#10004;</td>
                    <td>&#10006;</td>
                </tr>
                <tr>
                    <td>Modify Permissions for User Roles</td>
                    <td>&#10004;</td>
                    <td>&#10006;</td>
                </tr>
                <tr>
                    <td>Create New User Roles</td>
                    <td>&#10004;</td>
                    <td>&#10006;</td>
                </tr>
                <tr>
                    <td>Schedule & View Appointments</td>
                    <td>&#10004;</td>
                    <td>&#10006;</td>
                </tr>
                <tr>
                    <td>Create Lead</td>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                </tr>
                <tr>
                    <td>Access Customer Records</td>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                </tr>
                <tr>
                    <td>Create & View Tasks</td>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                </tr>
                <tr>
                    <td>View the list of tasks</td>
                    <td>&#10004;</td>
                    <td>&#10004;</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
