<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <style>
        /* Add your CSS styling here */
    </style>
</head>
<body>

    <h1>Update Profile</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    <a href="{% url 'profile_page' %}">Back to Profile</a>
    <a href="{% url 'change_password' %}" class="btn">Change Password</a>
</body>
</html>
