{% comment %} {% block content %}
<p>Hi {{ user.username }},</p>
<p>You're receiving this email because you requested a password reset for your account at {{ domain }}.</p>
<p>Please go to the following page and choose a new password:</p>
<p><a href="http://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a></p>
<p>Your username, in case you've forgotten: {{ user.username }}</p>
<p>Thank you for using our site!</p>
{% endblock %} {% endcomment %}


{% autoescape off %}

Hello {{ user.username }},

You have requested a password reset for your account. Please use the OTP below to verify your identity and reset your password:

OTP: {{ otp }}

Alternatively, you can use the link below to reset your password:


If you did not request this, please ignore this email.

Thank you,
The Support Team
{% endautoescape %}
