
{% extends "account/Mngr_Base.html" %}
{% load static %}

{% block title %}
    <title>Company Customer List</title>
{% endblock %}

{% block content %}
    <h1>Customers for Your Company</h1>
    <table border="1" cellpadding="10">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Address</th>
                <th>Company</th>
                <th>Staff</th>
                <th>Details</th>
                <th>Delete?</th>
            </tr>
        </thead>
        <tbody>
            {% for customer in customers %}
                <tr>
                    <td>{{ customer.first_name }}</td>
                    <td>{{ customer.last_name }}</td>
                    <td>{{ customer.email }}</td>
                    <td>{{ customer.phone_number }}</td>
                    <td>{{ customer.address }}</td>
                    <td>{{ customer.company.name }}</td>
                    <td>{{ customer.staff.username }}</td>
                    <td><a href="{% url 'company_customer_detail' customer.id %}">Details</a></td>
                    <td><a href="{% url 'company_customer_delete' customer.id %}">Delete</a></td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="11">No customers found for your company.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
