{% extends "account/Mngr_Base.html" %}
{% load static %}

{% block title %}
    Task Details
{% endblock %}

{% block stylesheets %}
        {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'lead/styles.css' %}"> {% endcomment %}
        <link rel="stylesheet" href="{% static 'customer/styles.css' %}"/>
{% endblock %}

{% block content %}
<div class="container mt-5 some">
    <h1>Update Task</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Update Task</button>
    </form>
    <a href="{% url 'task_list' %}">Back to Task List</a>
</div>
{% endblock %}
