{% extends "crm/base.html" %}
{% load static %}

{% block title %}
    Delete Task
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'task/styles.css' %}">
{% endblock %}

{% block content %}
    <h1>Delete Task</h1>
    <p>Are you sure you want to delete "{{ task.title }}"?</p>
    <form method="POST">
        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
    <a href="{% url 'task_list' %}">Cancel</a>
{% endblock %}
