{% extends "crm/base.html" %}

{% block title %}
    <title>Appointment List</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Appointment List</h1>
        <div class="row mb-8">
            <form method="GET" action="{% url 'appointment_list' %}">
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder="Search tasks..." value="{{ query }}">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                    <a href="{% url 'appointment_create' %}" class="btn btn-primary ml-3">Create New Appointment</a>
                    <a href="{% url 'appointment_list' %}" class="btn btn-secondary ml-2">Reload</a>
                </div>
            </form>
        </div> 

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Start Date/Time</th>
                    <th>End Date/Time</th>
                    <th>Location</th>
                    <th>Attendees</th>
                    <th>Customer</th>
                    <th>Update</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for appointment in appointments %}
                <tr>
                    <td>{{ appointment.title }}</td>
                    <td>{{ appointment.description }}</td>
                    <td>{{ appointment.start_date }}</td>
                    <td>{{ appointment.end_date }}</td>
                    <td>{{ appointment.location }}</td>
                    <td>{{ appointment.attendees.all|join:", " }}</td>
                    <td>{{ appointment.customer }}</td>
                    <td><a href="{% url 'appointment_update' appointment.pk %}" class="btn btn-warning btn-sm">Update</a></td>
                    <td><a href="{% url 'appointment_delete' appointment.pk %}" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="9" class="text-center">No appointments available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

