{% extends "account/Mngr_Base.html" %}

{% block title %}
    {% if form.instance.pk %}Update Company Appointment{% else %}Create Appointment{% endif %}
{% endblock %}

{% block content %}
<div class="container mt-5 some">
    <h1 class="mb-4">{% if form.instance.pk %}Update Appointment{% else %}Create Appointment{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.non_field_errors }}
            {{ form.as_p }}
        </div>
        <button type="submit" class="btn btn-primary">
            {% if form.instance.pk %}Update{% else %}Create{% endif %} Appointment
        </button>
    </form>
    <a href="{% url 'company_appointment_list' %}" class="btn btn-secondary mt-3">Back to Appointment List</a>
</div>
{% endblock %}
