{% extends "account/Mngr_Base.html" %}
{% load static %}

{% block title %}
    Edit Lead
{% endblock %}

{% block stylesheets %}
        <link rel="stylesheet" type="text/css" href="{% static 'lead/styles.css' %}">
{% endblock %}

{% block content %}
    <h1>Edit Lead</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save Changes</button>
    </form>
    <form method="post" action="{% url 'lead_detail' lead.id %}" style="margin-top: 20px;">
        {% csrf_token %}
        <input type="hidden" name="_method" value="DELETE">
        <button type="submit">Delete Lead</button>
    </form>
    <a href="{% url 'company_lead_list' %}">Back to List</a>

    {% if request.GET.alert %}
    <script type="text/javascript">
        alert("Lead has been converted to a customer!");
    </script>
    {% endif %}
    

{% endblock %}