{% extends "crm/base.html" %}
{% load static %}

{% block title %}
    <title>Lead List</title>
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4">Lead List</h1>

        <!-- Search Form -->
        <div class="row mb-8">
            <form method="GET" action="{% url 'lead-view' %}">
                <div class="input-group mb-3">
                    <input type="text" name="q" class="form-control" placeholder="Search tasks..." value="{{ query }}">
                    <button class="btn btn-outline-primary" type="submit">Search</button>
                    <a href="{% url 'lead_create' %}" class="btn btn-primary">Create New Lead</a>
                    <a href="{% url 'lead-view' %}" class="btn btn-secondary ml-2">Reload</a>
                </div>
            </form>
        </div>
        

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Status</th>
                    <th>Edit?</th>
                    <th>Delete?</th>
                </tr>
            </thead>
            <tbody>
                {% for lead in leads %}
                <tr>
                    <td>{{ lead.first_name }}</td>
                    <td>{{ lead.last_name }}</td>
                    <td>{{ lead.email }}</td>
                    <td>{{ lead.phone_number }}</td>
                    <td>{{ lead.status }}</td>
                    <td><a href="{% url 'lead_detail' lead.id %}" class="btn btn-warning btn-sm">Edit</a></td>
                    <td><a href="{% url 'lead_delete' lead.id %}" class="btn btn-danger btn-sm">Delete</a></td>
                </tr>
                {% empty %}
                    <tr>
                        <td colspan="7" class="text-center">No leads available.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
