{% extends "crm/base.html" %}
{% load static %}

{% block title %}
    <title>Create Lead</title>
{% endblock %}

{% block stylesheets%}
<style>
    
        
</style>
<link rel="stylesheet" href="{% static 'customer/styles.css' %}"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

{% endblock%}

{% block content %}
    <div class="container mt-5">
        <h1 class="mb-4 text-center">Create Lead</h1>
        <form method="post"  novalidate class="mx-auto" style="max-width: 600px;">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
            <br><br>
            <a href="{% url 'lead-view' %}" class="btn btn-secondary ms-2"> Back to List</a>
        </form>
    </div>

    <!-- Bootstrap JavaScript Bundle with Popper -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
{% endblock %}
